<mat-toolbar class="w-screen toolbar sticky top-0 left-0 z-50">
  <nav
    mat-tab-nav-bar
    class="flex flex-row justify-between h-auto content-center w-full"
    [tabPanel]="tabPanel"
  >
    <button
      matIconButton
      class="example-icon bg-swamp-500"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" (click)="activeLink = ''">
      <app-logo />
    </a>
    <span class="flex-1"></span>
    <div class="flex flex-row h-auto">
      @for (navLink of links; track navLink) {
        <a
          class="custom-tab-link"
          mat-tab-link
          (click)="activeLink = navLink.link"
          [active]="activeLink == navLink.link"
          [routerLink]="navLink.link"
        >
          {{ navLink.label }}
        </a>
      }
    </div>
    <div class="h-16 flex flex-col justify-center mr-4 ml-4">
      <button matIconButton aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </nav>
</mat-toolbar>
<mat-tab-nav-panel #tabPanel>
  <router-outlet />
</mat-tab-nav-panel>
