services:
  db:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "5432:5432"

#  app:
#    build: .
#    ports:
#      - "8080:8080"
#    env_file:
#      - .env
#    depends_on:
#      - db
