services:
  db:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

#  app:
#    build: .
#    ports:
#      - "8080:8080"
#    env_file:
#      - .env
#    depends_on:
#      - db

volumes:
  postgres_data: