:host {
  ::ng-deep .mat-mdc-chip-set .mdc-evolution-chip {
    margin: 0 0 8px 8px;
  }
}

.recipe-form {
  background-color: var(--mat-sys-surface-container-low);
}

.unit-type {
  border-color: #736c63;
}
